
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../Content/img/Idoko/Foodsicon.ico">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.rtl.min.css"
          integrity="sha384-beJoAY4VI2Q+5IPXjI207/ntOuaz06QYCdpWfWRv4lSFDyUSqsM0W+wiAMr2I185" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" href="../Content/style/Foods style.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/alpinejs@3.3.4/dist/cdn.min.js"></script>
</head>

<body>

    @Html.ActionLink("پنجره باز", "Window", "Idoko", new { @class = "Windo hover-grow" })
    @Html.ActionLink("صفحه من", "Proofile", "Idoko", new { @class = "Page hover-grow" })
    @Html.ActionLink("خوشمزه ها", "Delicious", "Idoko", new { @class = "Food hover-grow" })
    @Html.ActionLink("معرفی به شما", "Proofile", "Idoko", new { @class = "Invite hover-grow" })
    @Html.ActionLink("حیوانات خانگی", "Pet", "Idoko", new { @class = "Pet hover-grow" })
    <!-- -------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------- -->
    <div class="grid-container">
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="../Content/img/FoodList/poloha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">پلوها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="../Content/img/FoodList/kababha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for=""> کباب ها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="../Content/img/FoodList/khoreshha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">خورش ها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="../Content/img/FoodList/tah chinha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">ته چین ها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="../Content/img/FoodList/kotletha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">کتلت ها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="../Content/img/FoodList/kookooha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">کوکو ها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="../Content/img/FoodList/dolmeha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">دلمه ها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="../Content/img/FoodList/koofteha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">پلوها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="../Content/img/FoodList/tilitha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">تیلیت ها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="../Content/img/FoodList/beryanha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">بریان ها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="../Content/img/FoodList/ghazahaye fori.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">غذاهای فوری</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="../Content/img/FoodList/ghazahaye koodak.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">غذاهای کودک</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="../Content/img/FoodList/pitzaha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">پیتزاها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="~/Content/img/FoodList/daryayiha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">دریایی ها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="~/Content/img/FoodList/bergerha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">برگرها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="~/Content/img/FoodList/sandevichha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">ساندویچ ها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="~/Content/img/FoodList/lazaniyaha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">لازانیا ها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="~/Content/img/FoodList/espagetiha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">اسپاگتی ها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="~/Content/img/FoodList/esteikha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">استیک ها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="~/Content/img/FoodList/sokhariha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">سوخاری ها</label>
            </div>
        </a>
        <a href="" class="Foods ">
            <figure class="Foods-image">
                <img src="~/Content/img/FoodList/sayere ghazaha.jpg" alt="">
            </figure>
            <div class="Foods-overlay">
                <label for="">سایر</label>
            </div>
        </a>
    </div>
    <button class="Search  hover-grow">جستجو کن</button>
    <div onclick="history.back()">
        <img class="BackIcon" src="../Content/img/Idoko/back.png" alt="">
    </div>

</body>

</html>
